<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
  <head> 
    <head> 
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="{% static 'vendor/bootstrap/css/bootstrap-select' %}" rel="stylesheet">
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/modern-business.css'%}" rel="stylesheet">
    </head>

    <body>
      {% block content %}
          <!-- Cargamos contenido de paginas-->
          {% endblock content %}

   {% include "footer.html" %}
    <script src="{% static 'js/funcion.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

    </html> 