{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% include "navbar.html" %}
<title>Inicio</title>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({% static 'img/b1.png' %});">
          <div class="carousel-caption d-none d-md-block">
            <h3>Biblioteca San Marcos</h3>
            <p>Busca el libro que necesites</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({% static 'img/b6.png' %});">
          <div class="carousel-caption d-none d-md-block">
            <h3>Biblioteca San Marcos</h3>
            <p>Busca el libro que necesites</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url({% static 'img/b7.png' %});">
          <div class="carousel-caption d-none d-md-block">
            <h3>Biblioteca San Marcos</h3>
            <p>Busca el libro que necesites</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </header>
<!-- Informacion de la biblioteca-->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Sobre Nosotros
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Inicio</a>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'img/bibliotecasm.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Biblioteca San Marcos</h2>
        <p>Desde abril de 1961 la biblioteca ha sido un icono importante para el desarrollo educativo, ya que siempre ha tenido sus puertas abiertas al conocimiento poniendo a disposición una gran variedad de libros para todos los niveles académicos.</p>
        <p>Nuestra visión siempre ha sido apoyar a los Marqueses para que puedan tener acceso a la información y poder brindar el acceso a todos nuestros libros para que puedan realizar investigaciones e informarse de cualquier tema.</p>
        <p>Ahora ponemos a disposición de la población márquense nuestro inventario de libros en línea para que pueda conocer la gran variedad de libros que tenemos a disposición de la población márquense.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Nuestras Instalaciones</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'img/uno.jpg' %}" alt="imagen">
          <div class="card-body">
            <h4 class="card-title">Nuestras Instalaciones</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'img/sillas.jpg' %}" alt="imagen">
          <div class="card-body">
            <h4 class="card-title">Areas de lectura</h4>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'img/tres.jpg' %}" alt="imagen">
          <div class="card-body">
            <h4 class="card-title">Solicita tus libros en linea</h4>

          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
{% endblock content %}