{% extends "base.html" %}
{% block content %} 
{% include "navbar.html" %}
{% load staticfiles %}

<title>Nuestros Libros </title>

  <div class="container">

    <h1 class="mt-4 mb-3">Nuestros Libros</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Nuestros Libros</li>
    </ol>


    <div class="row">
        {% for libro in libro_list%} 
    <div class="col-lg-4 col-sm-6 portfolio-item">
     
        <div class="card h-100">
         
            {% if libro.imagen %} 
          <a href="{% url 'detalle' libro.slug %}">
        <img class="card-img-top" src="{{ libro.imagen.url }}" alt="{{libro.imagen}}"></a>
          {% endif %} 
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'detalle' libro.slug %}"></a>
            </h4>
            <h5>Libro: <a href="#" class="card-link">{{libro.nombre_libro}}</a></h5>
            <h5>Autor: <a href="#" class="card-link">{{libro.autor_libro}}</a></h5>
            <h5>Categoria: <a href="#" class="card-link">{{libro.categoria}}</a></h5>
            <h5>Descripción: <a  class="card-text ">{{libro.descripcion}}</a></h5>
            {% if libro.status == 0 %}
                <h5>Estado: <a href="#" class="card-link">Disponible</a></h5>
                {% else %} 
                <h5>Estado: <a href="#" class="card-link">Ocupado</a></h5>
            {% endif %}
            <a href="{% url 'detalle' libro.slug %}" class="btn btn-primary">Ver Mas</a> 
          </div>
          
        </div>
    
      </div>
      {% endfor %} 
    </div>
 <!--paginacion-->
        {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; REGRESAR</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> SIGUIENTE &raquo;</a></li>

        {% endif %}
        </ul>
        </nav>
        </div>
{% endif %}
</div>
{%endblock%}



   
